apiVersion: tensorboard.kubeflow.org/v1alpha1
kind: Tensorboard
metadata:
  labels:
    app: {{ tensorboard_name }}
  name: {{ tensorboard_name }}
spec:
  logspath: gs://quanlinkubeflow1_tf_mnist_logs1/mnist_tutorial/
