apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: {{ tensorboard_name }}
  name: {{ pvc_name }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
