aiohttp
# Pinning to <3.0 due to compatibility with the 2.9 controller version. 3.0 is not being maintained anymore.
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
pytest
pytest-operator
pyyaml
